<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string></string>
		<array>
			<string>1</string>
			<string>USE OF STATE WATER</string>
		</array>
		<array>
			<string>3</string>
			<string>WATER CONTROL AND PRESERVATION DISTRICTS</string>
		</array>
		<array>
			<string>11</string>
			<string>IN GENERAL</string>
		</array>
	</array>
</array>
</plist>
